.split-pane
  display flex
  height 100%
  &.dragging
    cursor ew-resize

.left, .right, .middle
  position relative

.left, .middle
  border-right 1px solid $border-color
  .app.dark &
    border-right 1px solid $dark-border-color

.dragger
  position absolute
  z-index 99
  top 0
  bottom 0
  right -5px
  width 10px
  cursor ew-resize