{
  "root": true,
  "extends": "vue",
  "plugins": [
    "html"
  ],
  "globals": {
    "bridge": true,
    "chrome": true,
    "localStorage": true
  },
  "rules": {
    "object-curly-spacing": 0
  }
}
