{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:vue-libs/recommended"
  ],
  "globals": {
    "bridge": true,
    "chrome": true,
    "localStorage": true,
    "HTMLDocument": true
  }
}
