version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: vuejs/ci

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "yarn.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v2-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
            - ~/.cache/Cypress
          key: v2-dependencies-{{ checksum "yarn.lock" }}

      # run tests!
      - run: yarn test

      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots
