// Colors
$blue = #44A1FF
$green = #42b983
$darkerGreen = #3ba776

// The min-width to give icons text...
$wide = 820px

// The min-height to give the tools a little more breathing room...
$tall = 500px

// Theme
$active-color = $darkerGreen
$border-color = #dddddd
$component-color = $active-color
