.slide-up-enter
  opacity 0
  transform translate(0, 50%)

.slide-up-leave-to
  opacity 0
  transform translate(0, -50%)

.slide-down-enter, .slide-down-leave-to
  opacity 0
  transform translate(0, -20px)

@keyframes rotate
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
