// Colors
$blue = #44A1FF
$grey = #DDDDDD
$darkerGrey = #CCC
$blueishGrey = #486887
$green = #42B983
$darkerGreen = #3BA776
$slate = #242424
$white = #FFFFFF
$orange = #DB6B00
$red = #c41a16
$black = #222
$vividBlue = #0033cc
$purple = #997fff

// The min-width to give icons text...
$wide = 1050px

// The min-height to give the tools a little more breathing room...
$tall = 350px

// Theme
$active-color = $darkerGreen
$border-color = $grey
$background-color = $white
$component-color = $active-color
$hover-color = #E5F2FF

$dark-active-color = $active-color
$dark-border-color = lighten($slate, 10%)
$dark-background-color = $slate
$dark-component-color = $active-color
$dark-hover-color = #444
