name: Create binary for release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      retention_days:
        description: "Retention duration (in days)"
        required: true
        default: "1"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Set up lerna yarn cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.cache/yarn
            ~/.cache/Cypress
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install yarn dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --pure-lockfile

      - name: Build the extension
        run: yarn run build && node release.js && yarn run test && yarn run zip

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            build/release/devtools-*
      - name: Upload built artifact
        uses: actions/upload-artifact@v2
        with:
          path: build/release/devtools-*
          retention-days: ${{ inputs.retention_days }}
